<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="consultationInfo">
            <h2><span jhiTranslate="ayoosAppointmentApp.ayoosAppointmentConsultationInfo.detail.title">Consultation Info</span> {{consultationInfo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ayoosAppointmentApp.ayoosAppointmentConsultationInfo.height">Height</span></dt>
                <dd>
                    <span>{{consultationInfo.height}}</span>
                </dd>
                <dt><span jhiTranslate="ayoosAppointmentApp.ayoosAppointmentConsultationInfo.weight">Weight</span></dt>
                <dd>
                    <span>{{consultationInfo.weight}}</span>
                </dd>
                <dt><span jhiTranslate="ayoosAppointmentApp.ayoosAppointmentConsultationInfo.age">Age</span></dt>
                <dd>
                    <span>{{consultationInfo.age}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/consultation-info', consultationInfo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
